/*add style to the main headers*/
h1{
    border-radius: 10px;
    border-style: dotted;
    border-width: 0.1em;
    border-radius: 10px;
    border-color:black;

    margin-top: 10px;
    margin-right: 30vw;
    margin-left: 30vw;
    margin-bottom: 5vh;

    padding-top: .3em;
    padding-bottom: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    text-align: center;

    /*color:purple;*/
}

/* add style to the sub headers(h2)*/
h2{
    margin: 0.5cm 0em 0.5cm 0em;
    padding: 1mm 1em 0vh 1mm;
    text-align:left;
    text-decoration: underline;

}
/*The unordered list will have an inline block display so that we can have unordered lists next to each other, allowing for more people to be next to each other*/
ul{
    display:inline-block;
    min-width:5em;
    max-width:30vw;/*more than 25 characters, go to next line*/
    max-height: 100vh;
    position:static;
    right:10px;
}
/*change the color of the bar separating sections*/
hr{
    color: grey;
}

/*ensure that items are shown one after anohter in an ordered list*/
ol{
    display:block;
    width:25vw;
}

/*each list item should have a height of atleast 1.5 of whatever font is used. This will allow for space inbetween each item*/
li{
    min-height: 1.5em;
}
/*I want you to know I made this*/
footer{
    text-align: right;
    position:fixed;
    top:95vh; left:92vw;
}
/*change color of link when hovering over it and when I click it*/
a:hover{
    color:blue;
}
a:active{
    color:orange;
}

/*I want only the first section to be in a flexbox*/
section.sec1{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
/*I want this specific header to be centered as it is in the flexbox*/
h2.attendance{
    text-align: center;
}

/*I want to use the grid layout for section 2, so I parsed section 2 into 10 different parts, and will order them manually*/
/*some subsections have the flex display so i can center them*/
section.sec2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5vw;
    row-gap: 5vh;
    grid-template-rows: auto auto auto auto auto;
}
.item1{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column:1/4;
    grid-row-start: 0;
}
.item2{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/1;
    grid-row: 2/2;
}
.item3{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/1;
    grid-row: 3/3;
    text-align: center;
}
.item4{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/2;
    grid-row: 2/2;
    text-align: center;
}
.item5{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/2;
    grid-row: 3/3;
    text-align: center;
}

.item6{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/3;
    grid-row: 2/2;
    text-align: center;
}

.item7{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 3/3;
    grid-row: 3/3;
    text-align: center;
}

.item8{
    display:flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/2;
    grid-row: 4/4;
    text-align: center;
}

.item9{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 1/1;
    grid-row: 5/5;
    text-align: center;
}

.item10{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 3/3;
    grid-row: 5/5;
    text-align: center;
}



