/*importing the lora font*/
@font-face {
    font-family: 'lora-italic';
    src: url('lora-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('lora-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 /*set the entire website to use lora italic*/ 
*{
    font-family: 'lora-italic';
}

@counter-style fallback-attempt {
    system: fixed;
    symbols: "-" "-" "-";
    fallback: upper-alpha;
  }
/*add style to the main headers*/
h1{
    border-radius: 10px;
    border-style: dotted;
    border-width: 0.1em;
    border-radius: 10px;
    border-color:black;

    margin-top: 10px;
    margin-right: 30vw;
    margin-left: 30vw;
    margin-bottom: 5vh;

    padding-top: .3em;
    padding-bottom: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    text-align: center;

    /*color:purple;*/
}
/*I want the first header to have a white outline instead of black*/
header h1{
    border-color:rgb(255, 255, 255);
}

/* add style to the sub headers(h2)*/
h2,h3{
    margin: 0.5cm 0em 0.5cm 0em;
    padding: 1mm 1em 0vh 1mm;
    text-align:center;
    text-decoration: underline;

}
/*The unordered list will have an inline block display so that we can have unordered lists next to each other, allowing for more people to be next to each other*/
ul{
    list-style: fallback-attempt;
    display:inline-block;
    min-width:5em;
    max-width:30vw;/*more than 30% of the screen, go to next line*/
    max-height: 100vh;
    position:static;
    right:10px;
}
/* people in the first list will have a different color than those in the second list*/
ul+ul{
    color:rgb(150, 50, 50)
}

/*all text within a div will be a different color, this only affects qna*/
div > p{
    color:rgb(70, 24, 24)
}
/*change the color of the bar separating sections*/
hr{
    color: grey;
}
/*if h3 is being treated as a subheading, I want it to align to the left*/
h2~h3{
    text-align: left;
}
/*if a header is immediatly followed by a subheader, reduce the gap between them*/
h2:has(+h3){
    margin: 0 0 0.1rem 0;
}
/*ensure that items are shown one after anohter in an ordered list*/
ol{
    display:block;
    width:25vw;
}

/*each list item should have a height of atleast 1.5 of whatever font is used. This will allow for space inbetween each item*/
li{
    min-height: 1.5em;
    /*when hovering over an item in a list, it will turn green*/
    &:hover{
        color: rgb(17, 36, 17);
    }
}
/*I want you to know I made this*/
footer{
    text-align: right;
    position:fixed;
    top:95vh; left:92vw;
}
/*change color of link when hovering over it and when I click it*/
a:hover{
    color:blue;
}
a:active{
    color:orange;
}

/*I want only the first section to be in a flexbox*/
section.sec1{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
/*I want this specific header to be centered as it is in the flexbox*/
h2.attendance{
    text-align: center;
}

/*I want to use the grid layout for section 2, so I parsed section 2 into 10 different parts, and will order them manually*/
/*some subsections have the flex display so i can center them*/

[id |="item"]{
    display:flex;
    justify-content: center;
    align-items: center;
}
section.sec2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1vw;
    row-gap: 5vh;
    grid-template-rows: auto auto auto auto auto;
}
#item-1{

    grid-column:1/4;
    grid-row-start: 1;
}
#item-2{

    grid-column: 1/1;
    grid-row: 2/2;
}
#item-3{

    grid-column: 1/1;
    grid-row: 3/3;
    text-align: center;
}
#item-4{

    grid-column: 2/2;
    grid-row: 2/2;
    text-align: center;
}
#item-5{

    grid-column: 2/2;
    grid-row: 3/3;
    text-align: center;
}

#item-6{

    grid-column: 3/3;
    grid-row: 2/2;
    text-align: center;
}

#item-7{

    grid-column: 3/3;
    grid-row: 3/3;
    text-align: center;
}

#item-8{

    grid-column: 2/2;
    grid-row: 4/4;
    text-align: center;
}

#item-9{

    flex-direction: column;
    grid-column: 1/1;
    grid-row: 5/5;
    text-align: center;
}

#item-10{

    flex-direction: column;
    grid-column: 3/3;
    grid-row: 5/5;
    text-align: center;
}
/*images and videos will become smaller on smaller screens*/
@media (width<=1000px) {
    img{
        height: 300px;
        width: 300px;
    }
    video{
        height:270px;
        width:480px;
    }
  }


  
